<app-my-header></app-my-header>
<!--====== TEAM START ======-->

<section id="team" class="team-area pt-120 pb-130">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10">
              <div class="section-title text-center pb-30">
                  <h3 class="title">Equipe Evolution </h3>
                  <p class="text"> Gerentes !</p>
              </div> <!-- section title -->
          </div>
      </div> <!-- row -->
      <div class="row">

        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Gerentes/Alan - Gerente.PNG" alt="Alan">
              </div>
              <span> Alan </span>
          </div> <!-- single team -->
        </div>
          <div class="col-lg-4 col-sm-6">
            <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                <div class="team-image">
                    <img src="./assets/images/team/Gerentes/Padrão Aldo.jpg" alt="Aldo">
                </div>
                <span>Aldo </span>
            </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Gerentes/Padrão Alex.jpg" alt="Alex">
              </div>
              <span>Alex </span>
          </div> <!-- single team -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
            <div class="team-image">
                <img src="./assets/images/team/Gerentes/Alexandre.jpg" alt="Alexandre">
            </div>
            <span> Alexandre </span>
        </div> <!-- single team -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
            <div class="team-image">
                <img src="./assets/images/team/Gerentes/Padrão Ana Pinho.jpg" alt="Ana Pinho">
            </div>
            <span>Ana Pinho </span>
        </div> <!-- single team -->
      </div>


<div class="col-lg-4 col-sm-6">
  <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
      <div class="team-image">
          <img src="./assets/images/team/Gerentes/Ana Luiza.jpg" alt="Ana Luiza">
      </div>
      <span> Ana Luiza</span>
  </div> <!-- single team -->
</div>
<div class="col-lg-4 col-sm-6">
  <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
      <div class="team-image">
          <img src="./assets/images/team/Gerentes/Cristiano - Gerente.PNG" alt="Cristiano">
      </div>
      <span> Cristiano </span>
  </div> <!-- single team -->
</div>
<div class="col-lg-4 col-sm-6">
  <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
      <div class="team-image">
          <img src="./assets/images/team/Gerentes/Diogo - Diretor.PNG" alt="Diogo">
      </div>
      <span> Diogo</span>
  </div> <!-- single team -->
</div>

<div class="col-lg-4 col-sm-6">
  <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
      <div class="team-image">
          <img src="./assets/images/team/Gerentes/Padrão Fabio.png" alt="Fabio">
      </div>
      <span>Fábio </span>
  </div> <!-- single team -->
</div>

<div class="col-lg-4 col-sm-6">
  <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
      <div class="team-image">
          <img src="./assets/images/team/Gerentes/Graziane - Gerente.PNG" alt="Graziane">
      </div>
      <span>Graziane </span>
  </div> <!-- single team -->
</div>
          <div class="col-lg-4 col-sm-6">
            <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                <div class="team-image">
                    <img src="./assets/images/team/Gerentes/Padrão Junior.jpg" alt="Junior">
                </div>
                <span> Júnior</span>
             </div> <!-- single team -->
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Gerentes/Padrão Leonardo.jpg" alt="Leonardo ">
              </div>
              <span> Leonardo</span>
          </div> <!-- single team -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
            <div class="team-image">
                <img src="./assets/images/team/Gerentes/Leonardo Alberto Magalhaes Moraes - Gerente.PNG" alt="Leonardo Alberto">
            </div>
            <span> Leonardo Alberto</span>
        </div> <!-- single team -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
            <div class="team-image">
                <img src="./assets/images/team/Gerentes/liliane - inteligencia.PNG" alt="Liliane">
            </div>
            <span> Liliane </span>
        </div> <!-- single team -->
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
              <img src="./assets/images/team/Gerentes/Marilze Margareth Lazarini - Gerente.PNG" alt="Marilze">
          </div>
          <span> Marilze Lazarini </span>
      </div> <!-- single team -->
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
              <img src="./assets/images/team/Gerentes/Marcone Rodrigues Loures - Gerente.PNG" alt="Marcone">
          </div>
          <span>Marcone Loures</span>
      </div> <!-- single team -->
    </div>
          <div class="col-lg-4 col-sm-6">
            <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                <div class="team-image">
                    <img src="./assets/images/team/Gerentes/Padrão Renato.jpg" alt="Renato">
                </div>
                <span>Renato </span>
            </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Gerentes/Padrão Robert.jpg" alt="Robert">
              </div>
              <span>Robert </span>
          </div> <!-- single team -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
            <div class="team-image">
                <img src="./assets/images/team/Gerentes/Padrão Tiago.jpg" alt="Tiago">
            </div>
            <span>Tiago </span>
        </div> <!-- single team -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
            <div class="team-image">
                <img src="./assets/images/team/Gerentes/Padrão Wilson.jpg" alt="Wilson">
            </div>
            <span> Wilson </span>
        </div> <!-- single team -->
    </div>

      </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== TEAM  ENDS ======-->


<app-my-footer></app-my-footer>
