<app-my-header></app-my-header>
<!--====== TEAM START ======-->

<section id="team" class="team-area pt-120 pb-130">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10">
              <div class="section-title text-center pb-30">
                  <h3 class="title">Equipe Evolution </h3>
                  <p class="text">Key-Users Multiplicadores !</p>
              </div> <!-- section title -->
          </div>
      </div> <!-- row -->
      <div class="row">

        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/Ana Luiza - P&D.PNG" alt="Ana Luiza">
              </div>
              <span>Ana Luiza</span>
          </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/Arliton - Pontual.PNG" alt="Arliton">
              </div>
              <span>Arliton</span>
          </div> <!-- single team -->
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/Padrão Bárbara.jpg" alt="Bárbara">
              </div>
              <span>Bárbara </span>
          </div> <!-- single team -->
      </div>

        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/Padrão Christian.jpg" alt="Christian">
              </div>
              <span>Christian </span>
          </div> <!-- single team -->
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/Padrão Cristovão.jpg" alt="Cristovão">
              </div>
              <span>Cristovão </span>
          </div> <!-- single team -->
        </div>
          <div class="col-lg-4 col-sm-6">
            <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                <div class="team-image">
                    <img src="./assets/images/team/Key-Users/Padrão Diego.jpg" alt="Diego">
                </div>
                <span>Diego </span>
            </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/Douglas - pcm.png" alt="Douglas">
              </div>
              <span>Douglas-PCM</span>
          </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/Douglas - industrial.jpg" alt="Douglas industrial">
              </div>
              <span>Douglas-Industrial</span>
          </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/douglas - Cduberlandia.PNG" alt=" Douglas CD">
              </div>
              <span>Douglas-CD</span>
          </div> <!-- single team -->
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/Padrão Eduardo.jpg" alt="Eduardo">
              </div>
              <span>Eduardo </span>
          </div> <!-- single team -->
      </div>

        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/Elisangela - MeioAmbiente.png" alt="Elisangela">
              </div>
              <span>Elisangela</span>
          </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/Fernando - PCM.png" alt="Fernando ">
              </div>
              <span>Fernando PCM</span>
          </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/Felipe - Financeiro.png" alt="Felipe">
              </div>
              <span>Felipe</span>
          </div> <!-- single team -->
        </div>

      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
            <div class="team-image">
                <img src="./assets/images/team/Key-Users/Flavio - suprimentos.PNG" alt="Flávio">
            </div>
            <span>Flávio</span>
        </div> <!-- single team -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
            <div class="team-image">
                <img src="./assets/images/team/Key-Users/Padrão Frederico.jpg" alt="Frederico">
            </div>
            <span>Frederico</span>
        </div> <!-- single team -->
    </div>


    <div class="col-lg-4 col-sm-6">
      <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
              <img src="./assets/images/team/Key-Users/guilherme - facilites.PNG" alt="guilherme">
          </div>
          <span>Guilherme</span>
      </div> <!-- single team -->
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
              <img src="./assets/images/team/Key-Users/gustavo - fabrica de racao.png" alt="Gustavo">
          </div>
          <span>Gustavo</span>
      </div> <!-- single team -->
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
              <img src="./assets/images/team/Key-Users/henrique-industrial.PNG" alt="Henrique">
          </div>
          <span>Henrique</span>
      </div> <!-- single team -->
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
              <img src="./assets/images/team/Key-Users/jonatas - comex.PNG" alt="Jonatas">
          </div>
          <span>Jonatas</span>
      </div> <!-- single team -->
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
              <img src="./assets/images/team/Key-Users/Padrão Jhonatan.jpg" alt="Jhonatan">
          </div>
          <span>Jhonatan </span>
      </div> <!-- single team -->
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
        <div class="team-image">
            <img src="./assets/images/team/Key-Users/lilian Integrados.PNG" alt="Lilian">
        </div>
        <span>Lilian </span>
    </div> <!-- single team -->
  </div>



  <div class="col-lg-4 col-sm-6">
    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
        <div class="team-image">
            <img src="./assets/images/team/Key-Users/leocimar - segurança.png" alt="Leocimar">
        </div>
        <span>Leocimar</span>
    </div> <!-- single team -->
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
        <div class="team-image">
            <img src="./assets/images/team/Key-Users/liomar - buritis.png" alt="Liomar">
        </div>
        <span>Lindomar</span>
    </div> <!-- single team -->
  </div>

  <div class="col-lg-4 col-sm-6">
    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
        <div class="team-image">
            <img src="./assets/images/team/Key-Users/lucascelestino - almox-suprimentos.png" alt="Lucas Celestino">
        </div>
        <span>Lucas Celestino</span>
    </div> <!-- single team -->
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
        <div class="team-image">
            <img src="./assets/images/team/Key-Users/mariana - qualidade.PNG" alt="Mariana">
        </div>
        <span>Mariana</span>
    </div> <!-- single team -->
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
        <div class="team-image">
            <img src="./assets/images/team/Key-Users/marilia - contabil.PNG" alt="Marilia">
        </div>
  <span>Marilia</span>
    </div> <!-- single team -->
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
        <div class="team-image">
            <img src="./assets/images/team/Key-Users/Michele.png" alt="Michele">
        </div>
  <span>Michele</span>
    </div> <!-- single team -->
  </div>

  <div class="col-lg-4 col-sm-6">
    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
        <div class="team-image">
            <img src="./assets/images/team/Key-Users/Nathalia.PNG" alt="Nathalia">
        </div>
        <span>Nathália</span>
    </div> <!-- single team -->
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
        <div class="team-image">
            <img src="./assets/images/team/Key-Users/Rafael - Contabil.png" alt="Rafael">
        </div>
        <span>Rafael </span>
    </div> <!-- single team -->
</div>
          <div class="col-lg-4 col-sm-6">
            <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                <div class="team-image">
                    <img src="./assets/images/team/Key-Users/reverton.PNG" alt="Reverton">
                </div>
                <span>Reverton</span>
             </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/Rodrigo Avelino - Suprimento.PNG" alt="Rodrigo">
              </div>
              <span>Rodrigo Avelino</span>
          </div> <!-- single team -->
      </div>
          <div class="col-lg-4 col-sm-6">
            <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                <div class="team-image">
                    <img src="./assets/images/team/Key-Users/Ronivaldo - contabil.PNG" alt="Ronivaldo">
                </div>
                <span>Ronivaldo </span>
            </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/Key-Users/tamires - dp.png" alt="Tamires">
              </div>
              <span>Tamires</span>
          </div> <!-- single team -->
      </div>

    <div class="col-lg-4 col-sm-6">
      <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
              <img src="./assets/images/team/Key-Users/Padrão Thiago.jpg" alt="Thiago">
          </div>
          <span>Thiago </span>
      </div> <!-- single team -->
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
        <div class="team-image">
            <img src="./assets/images/team/Key-Users/Padrão Walchir.jpg" alt="Walchir">
        </div>
        <span>Walchir </span>
    </div> <!-- single team -->
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
        <div class="team-image">
            <img src="./assets/images/team/Key-Users/Willian - Gestao Estrategia.png" alt="Willian">
        </div>
        <span>Willian </span>
    </div> <!-- single team -->
</div>

      </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== TEAM  ENDS ======-->


<app-my-footer></app-my-footer>

