<app-my-header></app-my-header>
<!--====== ABOUT PART START ======-->

<section id="about" class="about-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-5">
              <div class="faq-content mt-45">
                  <div class="about-title">
                      <h6 class="sub-title">Um pequeno descritivo sobre o programa.</h6>
                      <h4 class="title">Perguntas Frequentes <br> Sobre o Programa</h4>
                  </div> <!-- faq title -->
                  <div class="about-accordion">
                      <div class="accordion" id="accordionExample">
                          <div class="card">
                              <div class="card-header" id="headingOne">
                                  <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1- O que é o programa EvoluTION?</a>
                              </div>

                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                  <div class="card-body">
                                      <p class="text">O Programa EvoluTION é um conjunto de ações coordenas pela Equipe de TI para melhoria de processos e sistemas para  Toda a Avivar!</p>
                                  </div>
                              </div>
                          </div> <!-- card -->
                          <div class="card">
                              <div class="card-header" id="headingTwo">
                                  <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2- O que muda a partir de agora?</a>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                  <div class="card-body">
                                      <p class="text">A primeira mudança vem com a chegada do AD, que todos os sistemas e acesso a rede de informatica da Avivar passam a ser 100% integrada ,trazendo mais segurança para todos os usuários. </p>
                                  </div>
                              </div>
                          </div> <!-- card -->
                          <div class="card">
                              <div class="card-header" id="headingThree">
                                  <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3- O que o OFFICE 365 tras pra melhoria nesse projeto EvoluTION?</a>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                  <div class="card-body">
                                      <p class="text">Ao utilizar o OFFICE 365 os funcionários da Avivar passam a ter mais controle e facilidades de acesso aos documentos,planilhas e muito mais.</p>
                                  </div>
                              </div>
                          </div> <!-- card -->
                          <div class="card">
                              <div class="card-header" id="headingFore">
                                  <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFore" aria-expanded="false" aria-controls="collapseFore">4- E a Intranet, como vai funcionar?</a>
                              </div>
                              <div id="collapseFore" class="collapse" aria-labelledby="headingFore" data-parent="#accordionExample">
                                  <div class="card-body">
                                      <p class="text">Será entregue aos colaboradores,no browser da internet,uma pagina dedicada as informações principais,como por exemplo noticias ,cardápios,aniversários,documentos úteis sem necessidade de acessar outros sistemas ou e-mail..</p>
                                  </div>
                              </div>
                          </div> <!-- card -->
                          <div class="card">
                              <div class="card-header" id="headingFive">
                                  <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">5- Mais Informações</a>
                              </div>
                              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                  <div class="card-body">
                                      <p class="text">Veja aqui no site da EvoluTION a equipe envolvida  e tire todas as suas dúvidas! Vem com a gente nessa inovação digital.</p>
                                  </div>
                              </div>
                          </div> <!-- card -->
                      </div>
                  </div> <!-- faq accordion -->
              </div> <!-- faq content -->
          </div>
          <div class="col-lg-7">
              <div class="about-image mt-50">
                  <img src="../../../assets/images/about.jpg" alt="about">
              </div> <!-- faq image -->
          </div>
      </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->
<app-my-footer></app-my-footer>
