<app-my-header></app-my-header>

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
        <div class="section-title text-center pb-12">
            <h3 class="title">Active Directory</h3>
            <p class="text">Um diretório é uma estrutura hierárquica que armazena informações sobre os objetos na rede. Um serviço de diretório, como Active Directory Domain Services (AD DS), fornece os métodos para armazenar dados de diretório e disponibilizar esses dados para usuários e administradores de rede. Por exemplo, o AD DS armazena informações sobre contas de usuário, como nomes, senhas, números de telefone e assim por diante, e permite que outros usuários autorizados na mesma rede acessem essas informações.

                O Active Directory armazena informações sobre objetos na rede e torna essas informações fáceis de serem encontradas e usadas por administradores e usuários. <br>
                O Active Directory usa um armazenamento de dados estruturado como base para uma organização lógica e hierárquica de informações de diretório.<br>

                Esse armazenamento de dados, também conhecido como diretório, contém informações sobre objetos do Active Directory. <br>
                Esses objetos geralmente incluem recursos compartilhados, como servidores, volumes, impressoras e contas de usuário e computador de rede. <br>
                Para obter mais informações sobre o armazenamento de dados do Active Directory, consulte o armazenamento de dados do Directory.<br>

                A segurança é integrada ao Active Directory por meio da autenticação de logon e do controle de acesso a objetos no diretório. <br>
                 um logon de rede único, os administradores podem gerenciar dados de diretório e da organização em toda a rede e os usuários de rede autorizados podem acessar recursos em qualquer lugar da rede.<br>
                  A administração baseada em política facilita igualmente o gerenciamento de redes mais complexas. Para obter mais informações sobre segurança do Active Directory, consulte a visão geral de segurança.<br>

                <br> O Active Directory também inclui:<br>

                Um conjunto de regras, o esquema, que define as classes de objetos e atributos contidos no diretório, as restrições e limites em instâncias desses objetos e o formato de seus nomes. Para obter mais informações sobre o esquema, consulte Esquema.<br>

                Um catálogo global que contém informações sobre cada objeto no diretório. Isso permite que usuários e administradores encontrem informações de diretório, independentemente de qual domínio no diretório realmente contenha os dados. Para obter mais informações sobre o catálogo global, consulte o catálogo global.<br>

                Um mecanismo de consulta e índice, para que objetos e suas propriedades possam ser publicados e encontrados por usuários de rede ou aplicativos. Para obter mais informações sobre como consultar o diretório, consulte Pesquisar em Active Directory Domain Services.<br>

                Um serviço de replicação que distribui dados de diretório em uma rede. Todos os controladores de domínio em um domínio participam da replicação e contêm uma cópia completa de todas as informações de diretório para seu domínio. <br>

                Qualquer alteração nos dados do diretório é replicada em todos os controladores de domínio. <br>
                Para obter mais informações sobre a replicação do Active Directory, consulte Os Conceitos de Replicação do Active Directory.</p>
        </div> <!-- row -->
    </div>
  </div> <!-- row -->

<app-my-footer></app-my-footer>
