<app-my-header></app-my-header>
<!--====== TEAM START ======-->

<section id="team" class="team-area pt-120 pb-130">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10">
              <div class="section-title text-center pb-30">
                  <h3 class="title">Equipe Evolution</h3>
                  <p class="text">Equipes envolvivas na transformação digital da AVIVAR !</p>
              </div> <!-- section title -->
          </div>
      </div> <!-- row -->
      <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="team-content">
              <h4 class="team-name"><a href="equipe/gerentes">Gerentes</a></h4>
              <span class="sub-title">Conheça o time!</span>
            </div>
              <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="team-image">
                      <img src="../../../assets/images/team/gerentes.png" alt="Team">
                  </div>

              </div> <!-- single team -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="team-content">
              <h4 class="team-name"><a href="equipe/keyusers">KeyUsers</a></h4>
              <span class="sub-title">Conheça o time!</span>
          </div>
              <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="team-image">
                      <img src="../../../assets/images/team/keyusers.jpg" alt="Team">
                  </div>

              </div> <!-- single team -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="team-content">

              <h4 class="team-name"><a href="equipe/ti">Equipe de TI</a></h4>
              <span class="sub-title">Conheça o time!</span>
          </div>
              <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="team-image">
                      <img src="../../../assets/images/team/EquipeTI.jpg" alt="Team">
                  </div>

              </div> <!-- single team -->
          </div>

      </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== TEAM  ENDS ======-->
<app-my-footer></app-my-footer>
