<app-my-header></app-my-header>
 <!--====== FEATRES TWO PART START ======-->

 <section id="services" class="features-area">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10">
              <div class="section-title text-center pb-10">
                  <h3 class="title">Serviços</h3>
                  <p class="text">Aqui você fica por dentro de todas as inovações que serão implantadas pela TI- Avivar ao longo do nosso projeto EvoluTION.</p>
              </div> <!-- row -->
          </div>
      </div> <!-- row -->
      <div class="row justify-content-center">
          <div class="col-lg-4 col-md-7 col-sm-9">
              <div class="single-features mt-40">
                  <div class="features-title-icon d-flex justify-content-between">
                      <h4 class="features-title"><a href="servicos/office">Office 365</a></h4>
                      <div class="image">
                          <em class="lni lni-"></em>
                          <img class="" src="../../../assets/images/portfolio/office-365-1.png" alt="">
                      </div>
                  </div>
                  <div class="features-content">
                      <p class="text">Sistema de colaboração e relacionamento interno na AVIVAR. compõe e-mail, Chat, guarda e gestão de documentos , formulários eletrônicos.  </p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">98%</div>
                      </div>
                      <a class="features-btn" href="servicos/office"> Saiba Mais</a>
                  </div>
              </div> <!-- single features -->
          </div>
          <div class="col-lg-4 col-md-7 col-sm-9">
              <div class="single-features mt-40">
                  <div class="features-title-icon d-flex justify-content-between">
                      <h4 class="features-title"><a href="servicos/intranet">Intranet</a></h4>
                      <div class="features-icon">
                          <em class="lni lni-"></em>
                          <img class="intranet" src="./assets/images/intranet.png" alt="intranet">
                      </div>
                  </div>
                  <div class="features-content">
                      <p class="text">Vem ai...05/12/2022<br><br>Todas as informações quentinhas direto na sua página inicial da internet..</p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                      <a class="features-btn" href="servicos/intranet">Saiba Mais</a>
                  </div>
              </div> <!-- single features -->
          </div>
          <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="single-features mt-40">
                <div class="features-title-icon d-flex justify-content-between">
                    <h4 class="features-title"><a href="servicos/activedirectory">Active Directory</a></h4>
                    <div class="features-icon">

                        <em class="lni lni-"></em>
                        <img class="AD" src="./assets/images/portfolio/AD-1.png" alt="AD">
                    </div>
                </div>
                <div class="features-content">
                    <p class="text">Gestão de acesso ao domínio avivar. Estrutura de compliance para acesso aos recursos de tecnologia conforme definição do cargo. </p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">98%</div>
                    </div>
                    <a class="features-btn" href="servicos/activedirectory"></a>
                </div>
            </div> <!-- single features -->
        </div>
<!-- primeira parte  -->
      </div> <!-- row -->
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="single-features mt-40">
                <div class="features-title-icon d-flex justify-content-between">
                    <h4 class="features-title"><a href="servicos/office">Accountfy</a></h4>
                    <div class="image">
                        <em class="lni lni-"></em>
                        <img class="" src="../../../assets/images/portfolio/" alt="">
                    </div>
                </div>
                <div class="features-content">
                    <p class="text">Sistema de Gestão de balancetes, razão, Balanço patrimonial, Reports gerenciais, mapa de consolidação, organograma societário).</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                    <a class="features-btn" href="servicos/office"></a>
                </div>
            </div> <!-- single features -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="single-features mt-40">
                <div class="features-title-icon d-flex justify-content-between">
                    <h4 class="features-title"><a href="servicos/intranet">EPM Oracle</a></h4>
                    <div class="features-icon">
                        <em class="lni lni-"></em>
                        <img class="intranet" src="./assets/images/" alt="">
                    </div>
                </div>
                <div class="features-content">
                    <p class="text">Informações financeiras, Fluxo de caixa, Demonstrativos financeiros, DRE (Demonstrativo de resultados da AVIVAR).<p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">95%</div>
                    </div>
                    <a class="features-btn" href="servicos/intranet"></a>
                </div>
            </div> <!-- single features -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-9">
          <div class="single-features mt-40">
              <div class="features-title-icon d-flex justify-content-between">
                  <h4 class="features-title"><a href="servicos/activedirectory">Projeto Rede para Todos</a></h4>
                  <div class="features-icon">

                      <em class="lni lni-"></em>
                      <img class="AD" src="./assets/images/portfolio/" alt="">
                  </div>
              </div>
              <div class="features-content">
                  <p class="text">O Objetivo do projeto é realizar estruturação de acesso aos recursos de conectividade da AVIVAR, garantindo acesso com qualidade a internet, documentos e sistemas.</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">15%</div>
                  </div>
                  <a class="features-btn" href="servicos/activedirectory"></a>
              </div>
          </div> <!-- single features -->
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7 col-sm-9">
          <div class="single-features mt-40">
              <div class="features-title-icon d-flex justify-content-between">
                  <h4 class="features-title"><a href="servicos/office">Projeto Sênior</a></h4>
                  <div class="image">
                      <em class="lni lni-"></em>
                      <img class="" src="../../../assets/images/portfolio/" alt="">
                  </div>
              </div>
              <div class="features-content">
                  <p class="text">Implementação e revisitação na estruturação do painel de gestão dos recursos pessoais do colaborador, avaliação de desempenho dos colaboadores com apoio ao desenvolvimento e gestão do ponto eletrônico descentralizado, onde a gestão do colaborador deverá ser realizada pelo Gestor via plataforma.</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                  <a class="features-btn" href="servicos/office"></a>
              </div>
          </div> <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
          <div class="single-features mt-40">
              <div class="features-title-icon d-flex justify-content-between">
                  <h4 class="features-title"><a href="servicos/intranet">Neolog-TSM TOTVS</a></h4>
                  <div class="features-icon">
                      <em class="lni lni-"></em>
                      <img class="intranet" src="./assets/images/" alt="">
                  </div>
              </div>
              <div class="features-content">
                  <p class="text">Vem ai...<br><br></p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                  </div>
                  <a class="features-btn" href="#"></a>
              </div>
          </div> <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="single-features mt-40">
            <div class="features-title-icon d-flex justify-content-between">
                <h4 class="features-title"><a href="servicos/activedirectory">Mais serviços</a></h4>
                <div class="features-icon">

                    <em class="lni lni-"></em>
                    <img class="AD" src="./assets/images/portfolio/" alt="">
                </div>
            </div>
            <div class="features-content">
                <p class="text">Mais Segurança..<br>.</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
                <a class="features-btn" href="servicos/activedirectory"> </a>
            </div>
        </div> <!-- single features -->
    </div>

  </div>
    </div>

  <div></div><!-- container -->
</section>

<!--====== FEATRES TWO PART ENDS ======-->

<app-my-footer></app-my-footer>
