<app-my-header></app-my-header>
<!--====== TEAM START ======-->

<section id="team" class="team-area pt-120 pb-130">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10">
              <div class="section-title text-center pb-30">
                  <h3 class="title">Equipe Evolution TI</h3>
                  <p class="text">Equipe de TI !</p>
              </div> <!-- section title -->
          </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/TI/Padrão Tiago.jpg" alt="Tiago">
              </div>
<span>Tiago</span>
          </div> <!-- single team -->
        </div>
          <div class="col-lg-4 col-sm-6">
            <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                <div class="team-image">
                    <img src="./assets/images/team/TI/Padrão Rafael.jpg" alt="Rafael">
                </div>
                <span>Rafael</span>
            </div> <!-- single team -->
        </div>

          <div class="col-lg-4 col-sm-6">
            <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                <div class="team-image">
                    <img src="./assets/images/team/TI/Alexsander Santiago Ribeiro - TI.PNG" alt="Alexsander">
                </div>
                <span>Alexsander</span>
             </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/TI/Flavia Poliane Fonseca Silva - TI.png" alt=" Flavia">
              </div>
              <span>Flávia</span>
          </div> <!-- single team -->
      </div>
          
        <div class="col-lg-4 col-sm-6">
          <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <div class="team-image">
                  <img src="./assets/images/team/TI/Juliano Lima Ferreira - TI.PNG" alt="Juliano">
              </div>
              <span>Juliano</span>
          </div> <!-- single team -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
            <div class="team-image">
                <img src="./assets/images/team/TI/Leonardo Francisco Da Silva - TI.PNG" alt="Leonardo">
            </div>
            <span>Leonardo Silva</span>
        </div> <!-- single team -->
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
              <img src="./assets/images/team/TI/Luiz Henrique Cabral - TI.PNG" alt="Luiz">
          </div>
          <span>Luiz Henrique</span>
      </div> <!-- single team -->
  </div>


<div class="col-lg-4 col-sm-6">
  <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
      <div class="team-image">
          <img src="./assets/images/team/TI/Paulo Roberto Da Silva - TI.PNG" alt="Paulo Roberto">
      </div>
      <span>Paulo Roberto</span>
  </div> <!-- single team -->
</div>
<div class="col-lg-4 col-sm-6">
  <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
      <div class="team-image">
          <img src="./assets/images/team/TI/Pedro Paiva - TI.png" alt="Pedro">
      </div>
      <span>Pedro</span>
  </div> <!-- single team -->
</div>
<div class="col-lg-4 col-sm-6">
  <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
      <div class="team-image">
          <img src="./assets/images/team/TI/vinicius ti.jpeg" alt="Vinícius">
      </div>
      <span>Vinicius</span>
  </div> <!-- single team -->
</div>
<div class="col-lg-4 col-sm-6">
  <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
      <div class="team-image">
          <img src="./assets/images/team/TI/Walber Gustavo Vargas Martins - TI.PNG" alt="Walber">
      </div>
      <span>Walber</span>
  </div> <!-- single team -->
</div>

      </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== TEAM  ENDS ======-->


<app-my-footer></app-my-footer>
