<app-my-header></app-my-header>
<br>
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-10">
      <div class="section-title text-center pb-10">
          <h3 class="title">Office-365</h3>
          <p class="text">Aqui você irá encontrar os links de direcionamento, para o treinamentos dos sistemas que estão sendo implantados.</p>
      </div> <!-- row -->
  </div>
</div> <!-- row -->
<main class="v-main" id="conteudo-principal">



  <div class="o-internal-desc">
      <div class="-visual">

      </div>
    <div class="v-ctn o-internal-desc_ctn">
      <div class="o-internal-desc_wpp">
        <div class="o-internal-desc_head">
          <h1 class="o-internal-desc_title">Office 365</h1>
          <div class="m-info o-internal-desc_info">
            <p class="m-info_desc -internal">Duração <strong>07h</strong></p>
            <p class="m-info_desc -internal">Cursos <strong>6</strong></p>
          </div>

        </div>
        <div class="o-internal-desc_desc" data-component="show-more">
          <div class="o-internal-desc_txt-hld" data-showmore-list>
            <div class="o-internal-desc_txt"><p>O Office 365 é uma coleção de aplicativos da Microsoft que reúne as melhores ferramentas para você trabalhar de forma colaborativa e produtiva.</p>

<p>Cada conteúdo é composto de sete vídeos, nos quais você terá noções básicas para trabalhar com as seguintes ferramentas:</p>

<ul>
	<li><strong>Outlook - </strong>Aprenda a trabalhar com <em>e-mail.</em></li>
	<li><strong>OneDrive -</strong>&nbsp;Aprenda a trabalhar com arquivos na nuvem.</li>
  <li><strong>SharePoint -&nbsp;</strong>Aprenda a trabalhar com uma plataforma de aplicações Web da Microsoft, que pode ser utilizada na gestão de conteúdo, gestão documental, criação de portais colaborativos, além de publicação de aplicações Web.</li>
	<li><strong>OneNote -</strong>&nbsp;Aprenda a trabalhar com um bloco de anotações digital.</li>
	<li><strong>Planner -</strong>&nbsp;Aprenda a trabalhar com a organização do trabalho em equipe.</li>
	<li><strong>Teams -&nbsp;</strong>Aprenda a trabalhar com uma plataforma de comunicação e colaboração.</li>
</ul>

<p><strong>ATENÇÃO:</strong> Os conhecimentos adquiridos serão testados por meio de um <em>Quiz </em>e não de uma avaliação e, ao final, você receberá um Certificado de Participação.</p>
</div>
          </div>

        </div>

      </div>
    </div>
  </div>

<div class="o-tabs" data-simple-tabs>
   <div class="o-tabs_wpp -trail" content-list>
    <div class="o-tabs_ctx" id="eenie">
      <ul class="v-ctn o-internal-area_cards -trail">

<article class="m-card o-internal-area_card -visual" data-card-id="134">
  <div class="m-card_ctn">
    <span class="m-card_icon -mobile -graph"></span>
    <div class="m-card_hld">
      <h3 class="m-card_title" data-component="ellipsis">Microsoft Office 365 - Conhecendo o Outlook</h3>
      <p class="m-card_desc" data-component="ellipsis" data-component-options>O Office 365 é uma coleção de aplicativos da Microsoft que reúne as melhores ferramentas para as pessoas trabalharem de forma colaborativa e produtiva.

Este conteúdo é composto de sete vídeos, nos quais você aprenderá algumas funcionalidades da ferramentaOutlook, para que possa trabalhar, de maneira eficiente, com e-mail.

ATENÇÃO: Seus conhecimentos serão testados por meio de um Quiz e não de uma avaliação e, ao final, você receberá um Certificado de Participação.</p>
      <div class="m-info m-card_foot">
          <p class="m-info_desc -small m-card_info">Duração <strong>1h</strong></p>
          <p class="m-info_desc -small m-card_info">Nível <strong>Iniciante</strong></p>
        </div>
    </div>
  </div>
    <a class="m-card_link" href="https://www.ev.org.br/cursos/microsoft-office-365-conhecendo-o-outlook">Microsoft Office 365 - Conhecendo o Outlook</a>
</article>

<article class="m-card o-internal-area_card -visual" data-card-id="135">
  <div class="m-card_ctn">
    <span class="m-card_icon -mobile -graph"></span>
    <div class="m-card_hld">
      <h3 class="m-card_title" data-component="ellipsis">Microsoft Office 365 - Conhecendo o OneDrive</h3>
      <p class="m-card_desc" data-component="ellipsis" data-component-options>O Office 365 é uma coleção de aplicativos da Microsoft que reúne as melhores ferramentas para as pessoas trabalharem de forma colaborativa e produtiva.

Este conteúdo é composto de sete vídeos, nos quais você aprenderá algumas funcionalidades da ferramenta OneDrive, para que possa trabalhar, de maneira eficiente, com arquivos na nuvem.

ATENÇÃO: Seus conhecimentos serão testados por meio de um Quiz e não de uma avaliação e, ao final, você receberá um Certificado de Participação.</p>
      <div class="m-info m-card_foot">
          <p class="m-info_desc -small m-card_info">Duração <strong>1h</strong></p>
          <p class="m-info_desc -small m-card_info">Nível <strong>Iniciante</strong></p>

      </div>
    </div>
  </div>
    <a class="m-card_link" href="https://www.ev.org.br/cursos/microsoft-office-365-conhecendo-o-onedrive">Microsoft Office 365 - Conhecendo o OneDrive</a>
</article>

<article class="m-card o-internal-area_card -visual" data-card-id="135">
  <div class="m-card_ctn">
    <span class="m-card_icon -mobile -graph"></span>
    <div class="m-card_hld">
      <h3 class="m-card_title" data-component="ellipsis">Microsoft Office 365 - Conhecendo o SharePoint</h3>
      <p class="m-card_desc" data-component="ellipsis" data-component-options>Neste curso introdutório, você terá uma visão geral sobre o SharePoint, que é uma plataforma de aplicações Web da Microsoft, que pode ser utilizada na criação de portais e intranets empresariais, gestão de conteúdo, gestão documental, criação de portais colaborativos, além de publicação de aplicações Web.

        Além disto, você aprenderá a colaborar com outras pessoas, a configurar o SharePoint em aplicativos móveis, a encontrar e acompanhar sites e notícias e a criar arquivos dentro do SharePoint..

ATENÇÃO: Seus conhecimentos serão testados por meio de um Quiz e não de uma avaliação e, ao final, você receberá um Certificado de Participação.</p>
      <div class="m-info m-card_foot">
          <p class="m-info_desc -small m-card_info">Duração <strong>2h</strong></p>
          <p class="m-info_desc -small m-card_info">Nível <strong>Iniciante</strong></p>

      </div>
    </div>
  </div>
    <a class="m-card_link" href="https://www.ev.org.br/cursos/sharepoint">Microsoft Office 365 - Conhecendo o SharePoint</a>
</article>

<article class="m-card o-internal-area_card -visual" data-card-id="136">
  <div class="m-card_ctn">
    <span class="m-card_icon -mobile -graph"></span>
    <div class="m-card_hld">
      <h3 class="m-card_title" data-component="ellipsis">Microsoft Office 365 - Conhecendo o OneNote</h3>
      <p class="m-card_desc" data-component="ellipsis" data-component-options>O Office 365 é uma coleção de aplicativos da Microsoft que reúne as melhores ferramentas para as pessoas trabalharem de forma colaborativa e produtiva.

Este conteúdo é composto de sete vídeos, nos quais você aprenderá algumas funcionalidades da ferramenta OneNote, para que possa trabalhar, de maneira eficiente, com um bloco de anotações digital.

ATENÇÃO: Seus conhecimentos serão testados por meio de um Quiz e não de uma avaliação e, ao final, você receberá um Certificado de Participação.</p>
      <div class="m-info m-card_foot">
          <p class="m-info_desc -small m-card_info">Duração <strong>1h</strong></p>
          <p class="m-info_desc -small m-card_info">Nível <strong>Iniciante</strong></p>

      </div>
    </div>
  </div>
    <a class="m-card_link" href="https://www.ev.org.br/cursos/microsoft-office-365-conhecendo-o-onenote">Microsoft Office 365 - Conhecendo o OneNote</a>
</article>

<article class="m-card o-internal-area_card -visual" data-card-id="137">
  <div class="m-card_ctn">
    <span class="m-card_icon -mobile -graph"></span>
    <div class="m-card_hld">
      <h3 class="m-card_title" data-component="ellipsis">Microsoft Office 365 - Conhecendo o Planner</h3>
      <p class="m-card_desc" data-component="ellipsis" data-component-options>O Office 365 é uma coleção de aplicativos da Microsoft que reúne as melhores ferramentas para as pessoas trabalharem de forma colaborativa e produtiva.

Este conteúdo é composto de sete vídeos, nos quais você aprenderá algumas funcionalidades da ferramenta Planner, para que possa trabalhar, de maneira eficiente, com a organização do trabalho em equipe.

ATENÇÃO: Seus conhecimentos serão testados por meio de um Quiz e não de uma avaliação e, ao final, você receberá um Certificado de Participação.</p>
      <div class="m-info m-card_foot">
          <p class="m-info_desc -small m-card_info">Duração <strong>1h</strong></p>
          <p class="m-info_desc -small m-card_info">Nível <strong>Iniciante</strong></p>
        </div>
    </div>
  </div>
    <a class="m-card_link" href="https://www.ev.org.br/cursos/microsoft-office-365-conhecendo-o-planner">Microsoft Office 365 - Conhecendo o Planner</a>
</article>

<article class="m-card o-internal-area_card -visual" data-card-id="138">
  <div class="m-card_ctn">
    <span class="m-card_icon -mobile -graph"></span>
    <div class="m-card_hld">
      <h3 class="m-card_title" data-component="ellipsis">Microsoft Office 365 - Conhecendo o Teams</h3>
      <p class="m-card_desc" data-component="ellipsis" data-component-options>O Office 365 é uma coleção de aplicativos da Microsoft que reúne as melhores ferramentas para as pessoas trabalharem de forma colaborativa e produtiva.

Este curso é composto de sete vídeos, nos quais você aprenderá algumas funcionalidades da ferramenta Teams, para que possa trabalhar, de maneira eficiente, com uma plataforma de comunicação e colaboração no local de trabalho.

ATENÇÃO: Seus conhecimentos serão testados por meio de um Quiz e não de uma avaliação e, ao final, você receberá um Certificado de Participação.</p>
      <div class="m-info m-card_foot">
          <p class="m-info_desc -small m-card_info">Duração <strong>1h</strong></p>
          <p class="m-info_desc -small m-card_info">Nível <strong>Iniciante</strong></p>
      </div>
    </div>
  </div>
    <a class="m-card_link" href="https://www.ev.org.br/cursos/microsoft-office-365-conhecendo-o-teams">Microsoft Office 365 - Conhecendo o Teams</a>
</article>
      </ul>
    </div>
    <div class="o-tabs_ctx" id="meenie">
      <div class="v-ctn o-tabs_ctn-text">
          <div class="o-tabs_txt">
            <h3 class="o-tabs_title">Pré-requisitos</h3>
            <div class="o-tabs_desc"><p>Não há pré-requisitos.</p>
</div>
          </div>

        <div class="o-tabs_txt">
          <h3 class="o-tabs_title">Prazo</h3>
          <p class="o-tabs_desc">Você terá 60 dias para concluir cada curso</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-7 col-sm-9">
  <div class="single-features mt-40">
      <div class="features-title-icon d-flex justify-content-between">
          <h4 class="features-title"><a href="#">Office 365</a></h4>
          <div class="image">
              <em class="lni lni-"></em>
              <img class="" src="../../../assets/images/portfolio/office-365-1.png" alt="">
          </div>
      </div>

  </div> <!-- single features -->
</div>
<span><p>Curso Original TEAMS</p>
<a href="https://support.microsoft.com/pt-br/office/treinamento-em-v%C3%ADdeo-do-microsoft-teams-4f108e54-240b-4351-8084-b1089f0d21d7
" >TEAMS ORIGINAL DA MICROSOFT</a>
</span>
<br>

<Span><p>Curso Original  SHAREPOINT- Microsoft</p>
  <a href="https://support.microsoft.com/pt-BR/sharepoint ">Curso Sharepoint</a>
</Span>
<br>

<Span><p>Curso Original Forms -MICROSOFT</p>
 <a href="https://support.microsoft.com/pt-BR/forms">Curso Forms</a>
 </Span>
 <br>

 <Span><p>Curso Original -ONDRIVE</p>
 <a href="https://support.microsoft.com/pt-br/onedrive">Curso OnDrive</a>
</Span>

<app-my-footer></app-my-footer>
